body{
    text-align: center;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(125, 196, 172);
    padding-inline-end: 10px;
    padding-inline-start: 10px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.button-container button{
    height: 2rem;
    border: none;
    background-color:rgb(125, 196, 172);
    color: rgb(54, 54, 54);
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.button-container button:hover{
    box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.336);
}